// Começo header section and responsiveness
.homepage {
  h1, h3 {
    font-family: 'Oswald', sans-serif;
  }

  header {
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    padding: 1.5rem 10%;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 5rem;
    }
  }

  .menuBar {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
  }

  .navbarClosed {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
    }

    li {
      margin-left: 3rem;
    }

    .active {
      color: var(--yellow);
    }

    a {
      font-size: 1.7rem;
      color: #666;

      &:hover {
        color: var(--yellow);
      }
    }
  }

  @media (max-width: 768px) {
    .menuBar {
      display: block;
    }
  
    .navbarClosed {
      position: fixed;
      top: 8rem; 
      left: 0;
      width: 100%;
      background: var(--yellow);
      border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
      transform: scaleY(0);
      transform-origin: top;
      opacity: 0;

      ul {
        flex-flow: column;
        padding: 2rem;
      }

      li {
        margin: 1.5rem;
        width: 100%;
      }

      .active {
        color: #333;
        border-color: #333;
      }

      a {
        display: block;
        color: #fff;
        padding-left: 2rem;
        border-left: 0.2rem solid #fff;
        font-size: 2rem;

        &:hover {
          color: #333;
          border-color: #333;
        }
      }
    }

    .navbarOpened {
      position: fixed;
      top: 8rem; 
      left: 0;
      width: 100%;
      background: var(--yellow);
      border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
      transform: scaleY(1);
      transform-origin: top;
      opacity: 1;

      ul {
        flex-flow: column;
        padding: 2rem;
        list-style: none;
      }

      li {
        margin: 1.5rem;
        width: 100%;
      }

      .active {
        color: #333;
        border-color: #333;
      }

      a {
        display: block;
        color: #fff;
        padding-left: 2rem;
        border-left: 0.2rem solid #fff;
        font-size: 2rem;

        &:hover {
          color: #333;
          border-color: #333;
        }
      }
    }

    .home .content {
      text-align: center;

      h3 {
        font-size: 4.5rem;
      }
    }
  
    // .order .row .image {
    //   display: none;
    // }
  }

  @media (max-width: 991px) {
    html{
      font-size: 55%;
    }

    .home {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  @media (max-width: 500px) {
    html {
      font-size: 50%;
    }
  
    section {
      padding: 1rem 5%;
      padding-top: 8.5rem;
    }
  }
}
// Fim header section and responsiveness

// Começo home section 
.home {
  min-height: 100vh;
  padding: 1rem 10%;
  padding-top: 8.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 5rem; 
    right: -6rem;
    background: var(--yellow);
    border-radius: 3rem;
    transform: rotate(-45deg);
    height: 40rem;
    width: 70rem;
    z-index: -2;
    animation: animate 1s linear 1;
  }

  @keyframes animate {
    0% {
      transform: rotate(45deg) translateY(-40rem);
    }
  }

  &::before {
    top: -7rem;
    background: #fff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
    z-index: -1;
  }

  .image {
    flex: 1 1 39rem;

    img {
      width: 100%;
    }
  }

  .content {
    flex: 1 1 39rem;

    h3 {
      color: #333;
      font-size: 6rem;
    }

    p {
      color: #666;
      font-size: 2rem;
      padding: 1rem 0;
    }

    .btn {
      font-size: 1.7rem;
      padding: 0.7rem 4rem;
      border-radius: 5rem;
      margin-top: 1rem;
      background: none;
      color: #333;
      cursor: pointer;
      border: 0.2rem solid var(--yellow);

      &:hover {
        background: var(--yellow);
      }
    }
  }
}
// Fim home section 

